
<div class="card">
  <div class="card-header">
    Experience
  </div>
  <div class="card-block">
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><img src="/assets/img/page/about/aib-logo.jpg" class="img-fluid rounded"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Head of Cloud Engineering</h4>
              <div><small class="text-muted"><i class="fa fa-building-o"></i> AIB</small></div>
              <div><small class="text-muted"><i class="glyphicon glyphicon-time"></i> June 2015 - Present</small></div>
            </div>
            <div class="timeline-body">
              <ul>
                <li>Developed and deployed a Cloud Reference Architecture for AWS, enabling cloud adoption with appropriate controls and oversight.</li>
                <li>Recruited and led a multidisciplinary team.</li>
                <li>Designed and developed automation services for software build, deploy and run.</li>
                <li>Deployed OpenStack in various configurations to verify certain capabilities.</li>
                <li>Performed a technical evaluation of AWS and Microsoft Azure.</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge"><img src="/assets/img/page/about/wonga-logo.png" class="img-fluid rounded"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Continuous Delivery Principal</h4>
              <div><small class="text-muted"><i class="fa fa-building-o"></i> Wonga</small></div>
              <div><small class="text-muted"><i class="fa fa-clock-o"></i> Nov 2014 - May 2015</small></div>
            </div>
            <div class="timeline-body">
              <ul>
                <li>Built a Platform as a Service proof of concept to facilitate the build and deployment of in-house applications to public and private cloud infrastructure.</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><img src="/assets/img/page/about/paddy-power-logo.png" class="img-fluid rounded"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Software Development Manager</h4>
              <div><small class="text-muted"><i class="fa fa-building-o"></i> Paddy Power</small></div>
              <div><small class="text-muted"><i class="fa fa-clock-o"></i> Aug 2011 - Oct 2014</small></div>
            </div>
            <div class="timeline-body">
              <ul>
                <li>Introduced and evolved the adoption of Agile and Lean processes and practices.</li>
                <li>Established and implemented an application centric private cloud strategy.</li>
                <li>Eliminated the environment and configuration management activity within an application development function through automation.</li>
                <li>Substantially reduced project initiation and feature cycle time delivering a 20% uplift in throughput.</li>
                <li>Developed the architecture for the product and pricing distribution system.</li>
                <li>Led technology selection for the replacement of the standard application container, messaging infrastructure, persistence and monitoring technologies.</li>
                <li>Supported the implementation and adoption of NoSQL solutions, specifically Cassandra.</li>
                <li>Managed and maintained the sportsbook back office trading system.</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge"><img src="/assets/img/page/about/bank-of-ireland-logo.jpg" class="img-fluid rounded"></div>
          <div class="timeline-panel">
            <div class="timeline-heading mb-3">
              <h4 class="timeline-title">Software Development Manager</h4>
              <div><small class="text-muted"><i class="fa fa-building-o"></i> Bank of Ireland</small></div>
              <div><small class="text-muted"><i class="fa fa-clock-o"></i> Feb 2010 - July 2011</small></div>
            </div>
            <div class="timeline-body">
              <ul>
                <li>Recruited and led a multidisciplinary team.</li>
                <li>Introduced agile, specifically Scrum, and associated technical processes and practices.</li>
                <li>Coached project management on agile estimating and planning.</li>
                <li>Coached development and test on agile test processes and principles focusing on automation.</li>
                <li>Established continuous integration and rudimentary continuous delivery capability.</li>
                <li>Established a number of distributed agile teams located in Ireland and India.</li>
                <li>Facilitated project orientation sessions to accelerate shared understanding and commitment to project objectives.</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge"><img src="/assets/img/page/about/under-contract-logo.png" class="img-fluid rounded"></div>
          <div class="timeline-panel">
            <div class="timeline-heading mb-3">
              <h4 class="timeline-title">Software Engineer</h4>
              <div><small class="text-muted"><i class="fa fa-building-o"></i> Under Contract - Various</small></div>
              <div><small class="text-muted"><i class="fa fa-clock-o"></i> Mar 2003 - July 2010</small></div>
            </div>
            <div class="timeline-body">
              <ul>
                <li>Designed components, performance tested and resolved issues for a back office payments system.</li>
                <li>Developed secure web services (XML over HTTPS) for vehicle tax liability management.</li>
                <li>Developed batch and online payments processing functionality.</li>
                <li>Developed social networking components for a telecommunications provider.</li>
                <li>Designed and developed a telecommunications provisioning gateway.</li>
                <li>Evaluated ESB technologies and developed use cases to demonstrate capabilities, limitations etc.</li>
                <li>Developed workflow components (decision and action handlers) to support insurance business processes.</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge"><img src="/assets/img/page/about/fineos-logo.png" class="img-fluid rounded"></div>
          <div class="timeline-panel mb-3">
            <div class="timeline-heading">
              <h4 class="timeline-title">Solutions Architect</h4>
              <div><small class="text-muted"><i class="fa fa-building-o"></i> Fineos Corporation</small></div>
              <div><small class="text-muted"><i class="fa fa-clock-o"></i> Mar 2000 - Mar 2003</small></div>
            </div>
            <div class="timeline-body">
              <ul>
                <li>Responsible for delivering customer implementations of a highly customisable CRM and workflow product.</li>
                <li>Liaised between product development and key clients.</li>
                <li>Designed and developed bespoke components and integration services.</li>
                <li>Delivered developer training to client teams.</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="timeline">
          <div class="timeline-badge"><img src="/assets/img/page/about/prudential-europe-logo.png" class="img-fluid rounded"></div>
          <div class="timeline-panel mb-3">
            <div class="timeline-heading">
              <h4 class="timeline-title">Software Engineer</h4>
              <div><small class="text-muted"><i class="fa fa-building-o"></i> Prudential Europe</small></div>
              <div><small class="text-muted"><i class="fa fa-clock-o"></i> June 1999 - Mar 2000</small></div>
            </div>
            <div class="timeline-body">
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge"><img src="/assets/img/page/about/ark-life-assurance-logo.png" class="img-fluid rounded"></div>
          <div class="timeline-panel mb-3">
            <div class="timeline-heading">
              <h4 class="timeline-title">Software Engineer</h4>
              <div><small class="text-muted"><i class="fa fa-building-o"></i> Ark Life Assurance</small></div>
              <div><small class="text-muted"><i class="fa fa-clock-o"></i> June 1997 - Sept 1998</small></div>
            </div>
            <div class="timeline-body">
            </div>
          </div>
        </li>
    </ul>
  </div>
</div>
