
<div class="card">
  <!-- <div class="card-header">

    Summary
  </div> -->
  <div class="card-block">
    <div class="row">
      <div class="col-12 col-sm-2">
        <img src="/assets/img/page/about/john-turner-profile.jpg" class="img-fluid img-thumbnail rounded">
      </div>

      <div class="col-12 col-sm-10">
        <p>With extensive experience with a number of IaaS and PaaS providers John is well positioned to assist organisations in their cloud adoption.  John is passionate about delivering business impact by utilising cloud and cloud orchestration to minimise the cycle time from concept to cash.</p>

        <p>John is a participative leader who enjoys working with creative and passionate people to drive meaningful and lasting transformation.  He leads teams that strive to deliver measurable business outcomes.</p>

        <p>John has a history of designing and building highly scalable systems using his extensive knowledge of open source software.</p>
      </div>
    </div>
  </div>
</div>
