
<!-- Blog Sidebar Widgets Column -->
<div class="col-md-4">

  {% include sidebar_about.html %}

  <div class="card mb-3">
    <div class="card-header">Blog Search</div>
    <div class="card-block">
      <div class="input-group">
        <input type="text" class="form-control">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="fa fa-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>

  {% include sidebar_latest_posts.html %}

</div>
