<!DOCTYPE html>
<html lang="en">

  {% include header.html %}

  <body>

    <div class="container">

      {% include navigation.html %}

      <hr>

      <div class="row">

        <div class="col-md-12">

          {{ content }}

        </div>
      </div>

      <hr>

      {% include footer.html %}

    </div>

    <script src="/assets/js/jquery.js"></script>

    <script src="/assets/js/bootstrap.min.js"></script>

    <script src="/assets/js/lightbox.min.js"></script>

  </body>

</html>
