---
layout: default
---

<div class="row">
  <div class="col-8">

    {{ content }}

    {% for post in paginator.posts %}

    {% assign author = site.data.people[post.author] %}

    <h2>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
    <p class="lead">
      by <a href="#">{{ author.name }}</a>
    </p>
    <p><span class="fa fa-clock-o"></span> Posted on {{ post.date | date: '%B %d, %Y' }}</p>

    <hr>

    {{ post.excerpt }}
    <a class="btn btn-primary" href="{{ post.url }}">Read More <span class="fa fa-chevron-right"></span></a>

    <hr>

    {% endfor %}

    {% include pagination.html %}

  </div>

  <div class="col-4 hidden-xs-down">

  {% include sidebar.html %}

  </div>
</div>
