---
layout: default
---

{% assign author = site.data.people[page.author] %}

<!-- Title -->
<h1>{{ page.title }}</h1>

<!-- Author -->
<p class="lead">
    by <a href="#">{{ author.name }}</a>
</p>

<p><span class="fa fa-clock-o"></span> Posted on {{ page.date | date: '%B %d, %Y' }}</p>
{% if page.tags.size > 0 %}
<p><span class="fa fa-tags"></span> {{ page.tags | first }}{% for tag in page.tags offset:1 %}, {{ tag }}{% endfor %}</p>
{% endif %}

<hr>

{{ page.content }}

{% include share_below_post.html %}

<hr>

<!-- Blog Comments -->
{% if page.comments != false %}
{% include comments.html %}
{% endif %}
